/* style.css */

/* ページ全体のスタイル */
h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 36px;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f2ed;
  color: #333;
}

/* ヘッダーのスタイル */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* ナビゲーションのスタイル */
nav {
  background-color: #555;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* セクションのスタイル */
section {
  padding: 20px;
}

/* フッターのスタイル */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.menu-item img {
  max-width: 100%;
}

.menu-item h3 {
  margin: 0;
}

.menu-item p {
  margin: 0;
  font-weight: bold;
}

.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.admin-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.admin-table td a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #4caf50;
  color: #fff;
  border-radius: 3px;
}

.admin-table td a.edit-button {
  background-color: #2196f3;
}

.admin-table td a.delete-button {
  background-color: #ff1212;
}

.admin-table td a:hover {
  background-color: #555;
}

.edit-mode input[type="text"] {
  display: inline-block;
}

.edit-mode .edit-button {
  display: none;
}

.edit-mode .delete-button {
  display: none;
}

.resized-image {
  width: 250px;
  height: 250px;
  object-fit: contain;
  object-position: center;
  background-color: white;
}