.hoverable-row:hover {
  background-color: lightgray;
}

.admin-table th {
  border: 1px solid #e7e7e7;
  padding: 8px;
  background-color: #f2f2f2;
  font-weight: bold;
}
.admin-table td {
  border: 1px solid #e7e7e7;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.admin-table td a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #4caf50;
  color: #fff;
  border-radius: 3px;
}

.admin-table td a.edit-button {
  background-color: #2196f3;
}

.admin-table td a.delete-button {
  background-color: #ff1212;
}

.admin-table td a:hover {
  background-color: #555;
}
